html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.gameboard {
    position: absolute;
    width: 600px;
    height: 600px;
    left: 35%;
    top: 20%;
    border: 2px black solid;
    border-radius: 8px;
    display:grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.boardsquare {
    border: 1px black solid;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}